react-native-fetch-blob
react-native-cardview
react-native-vector-icons
react-native-table-component

@react-navigation/native
@react-navigation/stack
react-native-reanimated
react-native-gesture-handler
react-native-screens
react-native-safe-area-context
@react-native-community/masked-view

react-native-paper

react-native-recyclerview-list
